.image-box {
    position: relative;
    z-index: -1;
    display: block;
    width: 100%;
    height: calc(100dvh - 4rem - 7%);
}

.image-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.route-container {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100dvh;
    width: 100%;
}

.instruction-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 1rem 0;
    transition: all ease 600ms;
}

.instruction-highlight {
    min-width: 5px;
    background-color: var(--primary-blue);
    margin-right: 1rem;
    padding: 1rem 0;
    min-height: 100%;
}

.instruction-text {
    align-self: center;
}

.info-box-container {
    position: fixed;
    border-top: 2px solid black;
    background-color: var(--primary-light-grey);
    width: 100%;
    z-index: 10;
    padding: 1rem 1rem 0 1rem;
    transition: all ease 600ms;
    bottom: 0;
    transform: none;
    padding-bottom: 3.5rem;
}   

.info-box > form {
    margin: 0;
}


.info-box-container.hidden {
    transform: translateY(calc(100% - 4rem));
    box-shadow: none;
}

.info-box-container.hidden > .info-box > :is(.instruction-container , .additional-notes) {
    transform: translateY(100%);
}

.info-box {
    position: relative;
}

.additional-notes {
    transition: all ease 600ms;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    border-color: white;
    display: inline-block;
    padding: 6px;
    transform: rotate(0);
    transition: transform ease 600ms;
}

.arrow.down {
    transform: translateY(-3px) rotate(45deg);
}

.arrow.up {
    transform: translateY(3px) rotate(-135deg);
}


#toggle-visibility {
    position: absolute;
    width: 35%;
    height: 2.25rem;
    background-color: red;
    top: calc(-1.5rem - 2rem);
    left: calc(50% - (35%/2));
    background-color: var(--primary-light-grey);
    border: 2px solid black;
    border-bottom: none;
    text-align: center;
    padding: 0.25rem;
    cursor: pointer;
    transition: all ease 600ms;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle-visibility.hidden {
    height: 3.125rem;
    transform: translateY(1.75rem);
    padding: 0.5rem;
}


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding: 0.5rem;
    pointer-events: none;
}

.button-container > .btn {
    width: 30%;
    pointer-events: auto;
}

.button-container input {
    cursor: pointer;
}


.header-container {
    width: 100%;
    height: 7%;
    background-color: var(--primary-light-grey);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
    position: relative;

    display: flex;
    align-items: center;
}

.back-btn {
    color: var(--primary-blue);
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 24px;
}

.back-btn:focus {
    cursor: pointer;
    color: var(--primary-dark-blue);
    background-color: var(--primary-yellow);
    box-shadow: 0 -2px var(--primary-yellow), 0 4px black;
    text-decoration: none;
}

.back-btn:after {
    background-image: url("left-arrow.svg");
    content: "";
    display: inline-block;
    height: 18px;
    position: absolute;
    left: 8px;
    top: calc(50% - 9px);
    width: 10px;
}
